/*

1. CSS Flex Container

display: flex;
flex-direction: row, row-reverse, column, column-reverse;
flex-wrap: nowrap, wrap, wrap-reverse;
justify-content: flex-start, center, flex-end, space-around, space-between;
align-items: stretch, flex-start, center, flex-end, baseline;
align-content: stretch, flex-start, center, flex-end, space-around, space-between;
gap: 10px;
row-gap: 10px;
column-gap: 10px;

2. CSS Flex Items

flex-grow: 0;
flex-shrink: 1;
align-self: stretch, flex-start, center, flex-end, baseline;

3. CSS Flex Responsive

@media (max-width: 800px) {
    flex-direction: row, column;
    flex: 25%, 50%, 100%;
}

*/

/* Color Style */

.workBlackBackground {
    background-color: #1A1A1A;
}

.workGrayEBackground {
    background-color: #EEEEEE;
}

.workBlack {
    color: #1A1A1A;
}

.workGray7 {
    color: #777777;
}

.workGrayA {
    color: #AAAAAA;
}

.workGrayE {
    color: #EEEEEE;
}

.workWhite {
    color: #FFFFFF;
}

/* Text Style */

.display {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.headline {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.titleBold {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.titleRegular {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.label {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* Widget */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.sizedBox16 {
    width: 16px;
    height: 16px;
}

.sizedBox24 {
    width: 24px;
    height: 24px;
}

.sizedBox32 {
    width: 32px;
    height: 32px;
}

.sizedBox64 {
    width: 64px;
    height: 64px;
}

.sizedBox128 {
    width: 128px;
    height: 128px;
}

.activeNavButton {
    padding: 32px;
}

.inActiveNavButton {
    padding: 32px;
}

.inActiveNavButton:hover {
    color: #1A1A1A;
    background-color: #EEEEEE;
}

.inActiveNavButton2 {
    padding: 32px;
}

.inActiveNavButton2:hover {
    color: #FFFFFF;
    background-color: #2B2B2B;
}

.activeTextButton {
    text-decoration: none;
}

.inActiveTextButton {
    text-decoration: none;
}

.inActiveTextButton:hover {
    color: #FFFFFF;
}

/* Responsive Widget */

.rowColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.responsiveLRPadding {
    padding-left: 128px;
    padding-right: 128px;
}

.responsiveTPadding {
    padding-top: 128px;
}

.responsiveBPadding {
    padding-bottom: 128px;
}

.responsiveDesktop {
    display: inherit;
}

.responsiveMobile {
    display: none;
}

/* Media Query */

@media only screen and (max-width: 1633px) {
    /* Text Style */

    .display {
        font-size: 48px;
    }

    .headline {
        font-size: 36px;
    }

    .titleBold {
        font-size: 24px;
    }

    .titleRegular {
        font-size: 24px;
    }

    .body {
        font-size: 16px;
    }

    .label {
        font-size: 12px;
    }

    /* Responsive Widget */

    .rowColumn {
        display: inline;
    }

    .responsiveLRPadding {
        padding-left: 64px;
        padding-right: 64px;
    }

    .responsiveTPadding {
        padding-top: 64px;
    }
    
    .responsiveBPadding {
        padding-bottom: 64px;
    }

    .responsiveDesktop {
        display: none;
    }
    
    .responsiveMobile {
        display: inherit;
    }
}