/*

1. CSS Flex Container

display: flex;
flex-direction: row, row-reverse, column, column-reverse;
flex-wrap: nowrap, wrap, wrap-reverse;
justify-content: flex-start, center, flex-end, space-around, space-between;
align-items: stretch, flex-start, center, flex-end, baseline;
align-content: stretch, flex-start, center, flex-end, space-around, space-between;
gap: 10px;
row-gap: 10px;
column-gap: 10px;

2. CSS Flex Items

flex-grow: 0;
flex-shrink: 1;
align-self: stretch, flex-start, center, flex-end, baseline;

3. CSS Flex Responsive

@media (max-width: 800px) {
    flex-direction: row, column;
    flex: 25%, 50%, 100%;
}

*/

/* ID */
#map {
    height: 100vh;
    width: 100%;
    background-color: grey;
}

/* Color Style */

.canadaWhiteBackground {
    background-color: #FFFFFF;
}

.canadaRedBackground {
    background-color: #FF0000;
}

.canadaWhite {
    color: #FFFFFF;
}

.canadaRed {
    color: #FF0000;
}

/* Text Style */

.display {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.headline {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.titleBold {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.titleRegular {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.label {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* Widget */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.thumbnail {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    transition: all 1s ease;
}

.thumbnail:hover {
    flex: 7;
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: all 2s ease;
}

.thumbnail:hover img {
    transform: scale(1.25);
}

.thumbnail .indexLargeText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 64px;
    transition: all 1s ease;
}

.thumbnail:hover .indexLargeText {
    font-size: 96px;
}

.thumbnail .indexSizedBox {
    width: 0px;
    height: 0px;
    transition: all 0.33s ease;
}

.thumbnail:hover .indexSizedBox {
    width: 16px;
    height: 16px;
}

.thumbnail .indexSmallText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 0px;
    transition: all 0.33s ease;
}

.thumbnail:hover .indexSmallText {
    font-size: 32px;
}

.niagaraFallsTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.niagaraFallsSizedBox {
    height: 720vh;
}

.torontoTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.torontoSizedBox {
    height: 720vh;
}

.quebecCityTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.quebecCitySizedBox {
    height: 720vh;
}

.montrealTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.montrealSizedBox {
    height: 720vh;
}

/* Responsive Widget */

/* Media Query */

@media only screen and (max-width: 1633px) {
    .thumbnail .indexLargeText {
        font-size: 32px;
    }
    
    .thumbnail:hover .indexLargeText {
        font-size: 48px;
    }
    
    .thumbnail .indexSizedBox {
        width: 0px;
        height: 0px;
    }
    
    .thumbnail:hover .indexSizedBox {
        width: 8px;
        height: 8px;
    }
    
    .thumbnail .indexSmallText {
        font-size: 0px;
    }
    
    .thumbnail:hover .indexSmallText {
        font-size: 16px;
    }

    .niagaraFallsTextStyle {
        font-size: 40px;
    }

    .torontoTextStyle {
        font-size: 40px;
    }

    .quebecCityTextStyle {
        font-size: 40px;
    }

    .montrealTextStyle {
        font-size: 40px;
    }
}
