/*

1. CSS Flex Container

display: flex;
flex-direction: row, row-reverse, column, column-reverse;
flex-wrap: nowrap, wrap, wrap-reverse;
justify-content: flex-start, center, flex-end, space-around, space-between;
align-items: stretch, flex-start, center, flex-end, baseline;
align-content: stretch, flex-start, center, flex-end, space-around, space-between;
gap: 10px;
row-gap: 10px;
column-gap: 10px;

2. CSS Flex Items

flex-grow: 0;
flex-shrink: 1;
align-self: stretch, flex-start, center, flex-end, baseline;

3. CSS Flex Responsive

@media (max-width: 800px) {
    flex-direction: row, column;
    flex: 25%, 50%, 100%;
}

*/

/* ID */
#map {
    height: 100vh;
    width: 100%;
    background-color: grey;
}

/* Color Style */

.canadaWhiteBackground {
    background-color: #FFFFFF;
}

.canadaRedBackground {
    background-color: #FF0000;
}

.canadaWhite {
    color: #FFFFFF;
}

.canadaRed {
    color: #FF0000;
}

/* Text Style */

.display {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.headline {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.titleBold {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.titleRegular {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.label {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* Widget */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.thumbnail {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    transition: all 1s ease;
}

.thumbnail:hover {
    flex: 7;
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: all 2s ease;
}

.thumbnail:hover img {
    transform: scale(1.25);
}

.thumbnail .one {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 64px;
    transition: all 1s ease;
}

.thumbnail:hover .one {
    font-size: 96px;
}

.thumbnail .two {
    width: 0px;
    height: 0px;
    transition: all 0.33s ease;
}

.thumbnail:hover .two {
    width: 16px;
    height: 16px;
}

.thumbnail .three {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 0px;
    transition: all 0.33s ease;
}

.thumbnail:hover .three {
    font-size: 32px;
}

.four {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 108px;
    transition: all 1s ease;
}

.niagaraFallsTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.niagaraFallsSizedBox {
    height: 360vh; /*from 360vh to 0vh*/
}

.torontoTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.torontoSizedBox {
    height: 360vh; /*from 360vh to 0vh*/
}

.quebecCityTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.quebecCitySizedBox {
    height: 360vh; /*from 360vh to 0vh*/
}

.montrealTextStyle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.montrealSizedBox {
    height: 360vh; /*from 360vh to 0vh*/
}

.buttonMargin {
    left: 128px;
    bottom: 128px;
}

.buttonSize {
    width: 128px;
    height: 128px;
}

/* Responsive Widget */

/* Media Query */

@media only screen and (max-width: 1633px) {
    .thumbnail img {
        height: 100%;
        width: auto;
    }

    .thumbnail .one {
        font-size: 32px;
    }
    
    .thumbnail:hover .one {
        font-size: 48px;
    }
    
    .thumbnail .two {
        width: 0px;
        height: 0px;
    }
    
    .thumbnail:hover .two {
        width: 8px;
        height: 8px;
    }
    
    .thumbnail .three {
        font-size: 0px;
    }
    
    .thumbnail:hover .three {
        font-size: 16px;
    }

    .four {
        font-size: 54px;
    }

    .buttonMargin {
        left: 64px;
        bottom: 64px;
    }

    .buttonSize {
        width: 64px;
        height: 64px;
    }
}
